@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat-regular.woff2);
  src: url(../fonts/montserrat-regular.woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Подключил, потому что используется в появляющихся блоках, например в ответах на вопросы
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat-medium.woff2);
  src: url(../fonts/montserrat-medium.woff);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat-semibold.woff2);
  src: url(../fonts/montserrat-semibold.woff);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat-bold.woff2);
  src: url(../fonts/montserrat-bold.woff);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat-extrabold.woff2);
  src: url(../fonts/montserrat-extrabold.woff);
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --border-color-grey: #CACACA;
  --white-color: #fff;
  --btn-border-orange-color: var(--color-for-most-of-hovers);
  --section-title-and-border-black-color: #333;
  --color-for-most-of-hovers: #FF9900;
  --color-for-most-of-active: #E1670E;
  --color-for-few-of-hover-and-focus: #F7B045;
  --color-for-a-btn-section-how-we-do-hover-and-focus: #666;
  --color-for-a-btn-section-how-we-do-active: #000;
  --header-search-box-content-color: #dcdcdc;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  overflow-x: hidden;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 75px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  visibility: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}

.section-hero,
.section-about-us,
.section-how-we-do,
.section-questions {
  margin-bottom: 100px;
}

.section__title__about-us,
.section__title__how-we-do,
.section__title__questions {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--section-title-and-border-black-color);
}

.section__title__about-us {
  margin-bottom: 20px;
}

.section__title__how-we-do {
  margin-bottom: 50px;
}

.section__title__questions {
  margin-bottom: 42px;
}

.section-about-us__description,
.section-how-we-do__description {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.section-about-us__description {
  max-width: 1235px;
}

.section-how-we-do__description {
  max-width: 758px;
}

.header__container {
  box-shadow: 0 5px 40px rgb(0 0 0 / 10%);
}

.header {
  max-width: 1770px;
  background-color: var(--white-color);
}

.header__wrapper {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  min-height: 100px;
}

.header__logo:focus {
  outline: 2px solid var(--color-for-most-of-hovers);
}

.header__burger:active svg rect {
  fill: var(--color-for-most-of-active)
}

.header__burger {
  position: relative;
}

.header__burger::after {
  content: ' ';
  position: absolute;
  top: -35%;
  right: -25%;
  width: 45px;
  height: 45px;
}

.header__burger-menu {
  position: absolute;
  padding: 36px 50px;
  top: 0;
  left: -50px;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  gap: 100px;
  background-color: var(--white-color);
}

.burger__nav-list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.header__list {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  gap: 85px;
}

.header__list-item > a {
  transition-property: border;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.header__list-item > a:hover {
  border-bottom: 2px solid var(--color-for-most-of-hovers);
}

.header__list-item > a:focus {
  outline: 2px solid var(--color-for-most-of-hovers);
}

.header__list-item > a:active {
  border-bottom: 2px solid var(--color-for-most-of-active);
  color: var(--color-for-most-of-active);
  outline: none;
}

.header__burger {
  display: none;
}

.header__btn-search {
  margin-left: 85px;
  position: relative;
}

.header__btn-search::after {
  content: ' ';
  position: absolute;
  top: -35%;
  left: -40%;
  width: 45px;
  height: 45px;
}

.header__btn-search .btn-search_svg rect,
.header__btn-search .btn-search_svg path {
  transition-property: fill, stroke;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.header__btn-search:focus {
  outline: 2px solid var(--color-for-most-of-hovers);
}

.header__btn-search .btn-search_svg:hover rect {
  fill: var(--color-for-most-of-hovers);
}

.header__btn-search .btn-search_svg:hover path {
  stroke: var(--color-for-most-of-hovers);
}

.header__search-box {
  position: absolute;
  right: -2px;
  display: flex;
  padding: 18px 18px 18px 32px;
  gap: 20px;
  border-radius: 16px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  transform: translateX(0vw);
  background-color: var(--white-color);
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.isClicked {
  transform: translateX(100vw);
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.header__search-box input {
  width: 21.458333333333333333vw;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-color: var(--header-search-box-content-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  outline: none;
}

.header__search-box input::placeholder {
  color: var(--header-search-box-content-color);
}

.search-box__loupe {
  position: relative;
}

.search-box__loupe::after {
  content: ' ';
  position: absolute;
  top: -35%;
  left: -60%;
  width: 45px;
  height: 45px;
}

.search-box__loupe .btn-search_svg rect,
.search-box__loupe .btn-search_svg path {
  transition-property: fill, stroke;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.search-box__loupe:focus {
  outline: 2px solid var(--color-for-most-of-hovers);
}

.search-box__loupe .btn-search_svg:hover rect {
  fill: var(--color-for-most-of-hovers);
}

.search-box__loupe .btn-search_svg:hover path {
  stroke: var(--color-for-most-of-hovers);
}

.search-box__closed-search {
  position: relative;
}

.search-box__closed-search::after {
  content: ' ';
  position: absolute;
  top: -35%;
  left: -40%;
  width: 45px;
  height: 45px;
}

.search-box__closed-search rect,
.search-box__closed-search circle {
  transition-property: fill, stroke;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.search-box__closed-search:focus {
  outline: 2px solid var(--color-for-most-of-hovers);
}

.search-box__closed-search:hover rect {
  fill: var(--color-for-most-of-hovers);
}

.search-box__closed-search:hover circle {
  stroke: var(--color-for-most-of-hovers);
}

.search-box__closed-search:active rect {
  fill: var(--section-title-and-border-black-color);
}

.search-box__closed-search:active circle {
  stroke: var(--section-title-and-border-black-color);
}

.nav {
  display: flex;
  margin-left: auto;
  gap: 85px;
  flex-shrink: 0;
}

.main {
  max-width: 1770px;
}

.section-hero {
  position: relative;
  padding: 100px 80px;
/*   background-image: url(../img/balconies.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.section-hero__title {
  margin-bottom: 24px;
  max-width: 837px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--white-color);
}

.section-hero__description {
  margin-bottom: 90px;
  max-width: 790px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--white-color);
}

.section-hero__btn {
  padding: 25px 37px;
  font-weight: 700;
  font-size: 23.5px;
  line-height: 29px;
  color: var(--white-color);
  background-color: var(--color-for-most-of-hovers);
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.section-hero__btn:hover,
.section-hero__btn:focus {
  background-color: rgba(255, 153, 0, 0.7);
  outline: none;
}

.section-hero__btn:active{
  background-color: var(--color-for-most-of-active);
  transform: translateY(1px);
}

.section-hero__content-wrapper {
  position: relative;
  z-index: 1;
  max-width: max-content;
}

.swiper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}

/* .swiper-wrapper {
  height: 100%;
} */

.swiper-slide:nth-child(1) {
  background-image: url(../img/balconies.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.swiper-slide:nth-child(2) {
  background-image: url(../img/balconies_2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.swiper-slide:nth-child(3) {
  background-image: url(../img/balconies_3.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* .slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.swiper-slide {
  width: 100%;
  height: 100%;
}

.section-about-us__more-info {
  display: flex;
  gap: 32px;
}

.more-info__left-card {
  background-image: url(../img/worker.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.more-info__right-card {
  flex-grow: 1;
}

.more-info__right-card_top,
.more-info__right-card_bottom {
  padding: 65px 60px;
  border: 1px solid var(--border-color-grey);
}

.more-info__right-card_top {
  margin-bottom: 32px;
}

.right-card-title {
  display: inline-block;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.right-card-description {
  max-width: 450px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.more-info__right-card_top .right-card__description-wrapper {
  padding-left: 240px;
  background-image: url(../img/svg-box.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto;
}

.more-info__right-card_bottom .right-card__description-wrapper {
  padding-left: 240px;
  background-image: url(../img/svg-shesterenka.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto;
}

.more-info__left-card {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 50px;
  gap: 139px;
}

.more-info__left-card::after {
  content: " ";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  top: 426px;
  right: 0;
  left: 0;
}

.left-card__description {
  z-index: 1;
  max-width: 454px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--white-color);
}

.left-card__btn{
  display: inline-block;
  z-index: 1;
  padding: 19px 36px;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--white-color);
  border: 3px solid var(--btn-border-orange-color);
  transition-property: background-color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.left-card__btn:hover,
.left-card__btn:focus {
  background-color: var(--color-for-most-of-hovers);
  outline: 2px solid var(--color-for-few-of-hover-and-focus);
}

.left-card__btn:active {
  background-color: var(--color-for-most-of-active);
  border-color: var(--color-for-most-of-active);
  transform: translateY(1px);
}

.section-how-we-do__slider-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  margin-bottom: 45px;
  gap: 85px;
}

.section-how-we-do__slider-list-item {
  min-height: 22px;
}

.section-how-we-do__slider-list-item:nth-child(1) {
  min-width: 47px;
}

.section-how-we-do__slider-list-item:not(:nth-child(1)) {
min-width: 52px;
}

.slide-number_btn {
  transition: color 0.3s ease-in-out;
}

.slide-number_btn:hover {
  color: var(--color-for-most-of-hovers);
}

.slide-number_btn:focus {
  outline: 2px solid var(--color-for-most-of-hovers);
}

.slide-number_btn:active {
  color: var(--color-for-most-of-active);
}

.slide-number_btn-active {
  color: var(--color-for-most-of-active);
}

.section-how-we-do__heading3 {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.section-how-we-do__description-wrapper_one {
  padding-right: 1012px;
  background-image: url(../img/how-we-do-1img.jpg);
  background-position: right center;
  background-size: auto;
  background-repeat: no-repeat;
}

.section-how-we-do__description-wrapper_two {
  padding-right: 1012px;
  background-image: url(../img/how-we-do-2img.jpg);
  background-position: right center;
  background-size: auto;
  background-repeat: no-repeat;
}

.section-how-we-do__description-wrapper_three {
  padding-right: 1012px;
  background-image: url(../img/how-we-do-3img.jpg);
  background-position: right center;
  background-size: auto;
  background-repeat: no-repeat;
}

.section-how-we-do__description-wrapper_four {
  padding-right: 1012px;
  background-image: url(../img/how-we-do-4img.jpg);
  background-position: right center;
  background-size: auto;
  background-repeat: no-repeat;
}

.section-how-we-do__description-wrapper {
  display: none;
}

.section-how-we-do__description-wrapper_active {
  display: block;
}

.section-how-we-do__buttons-wrapper {
  display: flex;
  gap: 32px;
}

.section-how-we-do__button {
  display: inline-block;
  transition-property: border-color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.section-how-we-do__button:nth-child(1) {
  padding: 19px 38px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  color: var(--white-color);
  background-color:var(--btn-border-orange-color);
}

.section-how-we-do__button:nth-child(1):hover,
.section-how-we-do__button:nth-child(1):focus {
  background-color: var(--color-for-few-of-hover-and-focus);
  border-color: var(--color-for-few-of-hover-and-focus);
  outline: var(--color-for-few-of-hover-and-focus);
}

.section-how-we-do__button:nth-child(1):active {
  background-color: var(--color-for-most-of-active);
  border-color: var(--color-for-most-of-active);
  transform: translateY(1px);
}

.section-how-we-do__button:nth-child(2) {
  padding: 19px 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  color: var(--section-title-and-border-black-color);
  border: 1px solid var(--section-title-and-border-black-color);
  transition-property: background-color, border-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.section-how-we-do__button:nth-child(2):hover,
.section-how-we-do__button:nth-child(2):focus {
  background-color: var(--color-for-a-btn-section-how-we-do-hover-and-focus);
  border-color: var(--color-for-a-btn-section-how-we-do-hover-and-focus);
  color: var(--white-color);
  outline: none;
}

.section-how-we-do__button:nth-child(2):active {
  color: var(--white-color);
  transform: translateY(1px);
  background-color: var(--color-for-a-btn-section-how-we-do-active);
  border-color: var(--color-for-a-btn-section-how-we-do-active);
}

.section-questions__list-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.section-questions__list-item {
  row-gap: 20px;
  align-items: center;
  border-bottom: 1px solid var(--border-color-grey);
  transition-property: color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-size: 24px;
  line-height: 32px;
}

.section-questions__list-item:first-child {
  border-top: 1px solid var(--border-color-grey);
}

.section-questions__list-item:hover,
.section-questions__list-item:focus {
  color: var(--color-for-most-of-hovers);
  border-color: var(--color-for-most-of-hovers);
}

.section-questions__button_show-more {
  border-radius: 50%;
  border: none;
  flex-shrink: 0;
}

.section-questions__button_show-more ellipse,
.section-questions__button_show-more path {
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.section-questions__list-item:hover .section-questions__button_show-more ellipse,
.section-questions__list-item:focus .section-questions__button_show-more ellipse {
  fill: var(--color-for-most-of-hovers);
  cursor: pointer;
}

.section-questions__list-item:hover .section-questions__button_show-more path,
.section-questions__list-item:focus .section-questions__button_show-more path {
  fill: var(--white-color);
  cursor: pointer;
}

.section-questions__list-item-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.ui-icon {
  display: none;
}

.ui-state-default:active {
  border: none;
  background: none;
  color: inherit;
}

.ui-state-active {
  color: inherit;
}

.ui-state-default svg path {
  transition: transform 0.3s ease-in-out;
  transform: rotate(45deg);
  -webkit-transform: rotate(0deg);
  transform-origin: center;
}

.ui-state-active svg path {
  transition: transform 0.3s ease-in-out;
  transform: rotate(45deg);
  -webkit-transform: rotate(-45deg);
  transform-origin: center;
}

.ui-accordion .ui-accordion-content {
  color: var(--section-title-and-border-black-color);
  padding: 0;
  font-size: 1rem;
  line-height: 2em;
  padding-bottom: 20px;
}

.ui-accordion .ui-accordion-header {
  position: relative;
  font-weight: 700;
  margin: 0;
  padding: 30px 0;
}

.ui-widget {
  font-family: inherit;
}

.ui-widget-content {
  border: none;
  display: block;
  background: none;
  color: inherit;
}

.ui-helper-reset {
  line-height: inherit;
  text-decoration: none;
  font-size: inherit;
  list-style: none;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 30px;
  font-size: 0;
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: var(--white-color);
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:not(:first-child) {
  margin: 0;
  margin-left: 20px;
}

.symbol__slash {
  color: var(--border-color-grey);
}

.footer {
  display: flex;
  flex-direction: row;
  max-width: 1770px;
}

.footer__container {
  padding: 50px 75px;
  background-color: #222;
}

.footer__logo {
  display: block;
  min-width: 274px;
  min-height: 72px;
  margin-bottom: 14px;
}

.footer__logo:focus {
  outline: 1px solid var(--color-for-most-of-hovers);
}

.footer__block-left {
  max-width: 252px;
  margin-right: 130px;
}

.footer__list {
  margin-bottom: 90px;
}

.footer__list-item {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--border-color-grey);
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.footer__list-item:hover {
  color: var(--color-for-most-of-hovers);
}

.footer__list-item > a:focus {
  outline: 1px solid var(--color-for-most-of-hovers);
}

.footer__list-item:active {
  color: var(--color-for-most-of-active);
}

.block-left__social-media-list {
  display: flex;
  gap: 25px;
}

.block-left__social-media-list-item path {
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.block-left__social-media-list-item:hover path{
  fill: var(--color-for-most-of-hovers);
}

.footer__icon-link {
  display: inline-block;
  height: max-content;
}

.footer__icon-link:focus {
  outline: 1px solid var(--color-for-most-of-hovers);
}

.block-left__social-media-list-item:active path {
  fill: var(--color-for-most-of-active);
}

.footer__block-middle {
  font-size: 0;
  margin-left: auto;
}

.block-middle__title {
  margin-bottom: 25px;
  max-width: 570px;
  font-weight: 400;
  font-size: 48px;
  line-height: 58.5px;
  color: var(--border-color-grey);
}

.footer__input {
  resize: none;
  display: block;
  padding: 14px 24px;
  min-height: 60px;
  width: 570px;
  border: none;
  background-color: #414141;
  color: var(--white-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  transition: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.footer__input:hover,
.footer__input:focus {
  background-color: var(--color-for-a-btn-section-how-we-do-hover-and-focus);
}

.footer__input:focus {
  outline: none;
  color: var(--white-color);
}

.footer__input:nth-child(1),
.footer__input:nth-child(2) {
  margin-bottom: 25px;
}

.footer__input:nth-child(3) {
  max-width: 570px;
  margin-bottom: 32px;
  line-height: 32px;
  width: 100%;
  height: 150px;
}

.footer__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: var(--border-color-grey);
}

.footer__form-btn {
  display: inline-block;
  padding: 19px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  color: var(--white-color);
  background-color: var(--btn-border-orange-color);
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.footer__form-btn:hover,
.footer__form-btn:focus {
  background-color: var(--color-for-few-of-hover-and-focus);
  outline: none;
}

.footer__form-btn:active {
  transform: translateY(1px);
  background-color: var(--color-for-most-of-active);
}

.footer__checkbox-wrapper {
  display: inline-block;
  padding-left: 38px;
  font-size: 16px;
  line-height: 32px;
  color: var(--border-color-grey);
}

.footer__checkbox {
  position: absolute;
  appearance: none;
  margin-left: -1.1em;
  margin-top: 0.5em;
  width: 13px;
  height: 13px;
  box-shadow: 0 0 0 1px var(--border-color-grey);
}

.footer__checkbox:checked {
  background-image: url(../img/Checkbox_checked.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer__block-right {
  margin-left: auto;
  width: 363px;
  padding-top: 84px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--border-color-grey);
}

@media (max-width: 1500px) {

  .container {
    max-width: 1500px;
    margin: 0 auto;
  }
  .section-how-we-do__description-wrapper {
    background-image: url(../img/how-we-do_1img_1024.jpg);
    padding-right: 487px;
  }

  .footer__block-left {
    margin-right: auto
  }

  .footer__block-right {
    display: none;
  }

  .more-info__left-card::after {
    top: 620px;
  }
}

@media (max-width: 1366px) {
  .container {
    max-width: 1366px;
    margin: 0 auto;
  }

  .more-info__left-card {
    gap: 85px;
  }

  .more-info__right-card_top .right-card__description-wrapper,
  .more-info__right-card_bottom .right-card__description-wrapper {
    padding-left: 130px;
  }

  .footer__block-left {
    margin-right: 120px;
  }
}

@media (max-width: 1024px) {

  .container {
    max-width: 1024px;
    padding: 0 50px;
    margin: 0 auto;
  }

  .ui-accordion .ui-accordion-header {
    font-size: 20px;
  }

  .header,
  .main,
  .footer {
    max-width: 1024px;
  }

  .section-hero,
  .section-about-us,
  .section-how-we-do,
  .section-questions {
  margin-bottom: 80px;
}

  .header__wrapper {
    justify-content: space-between;
  }

  .nav {
    display: none;
  }

  .header__burger {
    display: inline-block;
  }

  .header__btn-search {
    display: inline-block;
    margin: 0;
  }

  .header__search-box {
    padding: 18px 15px 18px 15px;
  }

  .header__search-box input {
    width: 100%;
  }

  .section-hero {
    padding: 160px 77px;
  }

  .section-hero__title {
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73px;
  }

  .section-hero__description {
    max-width: 660px;
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 24px;
  }

  .section-about-us__more-info {
    flex-direction: column;
  }

  .section__title__about-us {
    margin-bottom: 9px;
  }

  .more-info__right-card_top,
  .more-info__right-card_bottom {
    padding: 65px 77px;
  }

  .more-info__left-card {
    gap: 195px;
  }

  .more-info__right-card_top .right-card__description-wrapper,
  .more-info__right-card_bottom .right-card__description-wrapper {
    padding-left: 240px;
  }

  .section-about-us__description {
    margin-bottom: 61px;
  }

  .more-info__left-card {
    padding-top: 494px;
    justify-content: space-between;
    background-image: url(../img/worker_for_1024px.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .more-info__left-card::after {
    top: 444px;
  }

  .section-how-we-do__description-wrapper {
    background-image: url(../img/how-we-do_1img_1024.jpg);
    padding-right: 487px;
  }

  .section-how-we-do__description {
    max-width: 437px;
    margin-bottom: 25px;
  }

  .section-how-we-do__slider-list {
    margin-bottom: 50px;
  }

  .section__title__questions {
    margin-bottom: 32px;
  }

  .section-questions__list-item-name {
    font-size: 20px;
    max-width: 756px;
  }

  .footer__container {
    padding: 50px;
  }

  .footer__block-right {
    display: none;
  }

  .footer__block-middle {
    margin: 0;
    width: 100%;
  }

  .block-middle__title {
    width: 100%;
    max-width: max-content;
  }

  .footer__block-left {
    margin-right: 133px;
  }

  .footer__input:nth-child(1),
  .footer__input:nth-child(2),
  .footer__input:nth-child(3) {
    width: 100%;
  }

  .footer__form {
    width: inherit;
  }

  .footer__checkbox-wrapper {
    width: 55.4%;
    padding-top: 13px;
  }

  .footer__form-btn {
    padding: 19px 36px;
    vertical-align: top;
    width: 44.6%;
  }
}


@media (max-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }

  .header__wrapper {
    min-height: 69px;
  }

  .section__title__about-us,
  .section__title__how-we-do,
  .section__title__questions {
    font-size: 6.25vw;
  }

  .section-hero__title {
    font-size: 50px;
    line-height: 61px;
  }

  .section-hero__description {
    font-size: 18px;
    line-height: 22px;
  }

  .section-hero {
    padding: 160px 40px;
  }

  .swiper-pagination {
  display: none;
  }

  .section__title__how-we-do {
    margin-bottom: 45px;
  }

  .more-info__left-card {
    justify-content: space-between;
    background-image: url(../img/worker_for_768.jpg);
    padding-top: 488px;
    padding-bottom: 34px;
    padding-right: 40px;
    padding-left: 40px;
    max-height: max-content;
    gap: 0;
    align-items: center;
  }

  .left-card__btn {
    margin-bottom: 0;
  }

  .more-info__left-card::after {
    top: 454px;
  }

  .left-card__description {
    max-width: 366px;
  }

  .more-info__right-card_top .right-card__description-wrapper {
    padding-left: 130px;
    background-image: url(../img/svg-box_for_768.svg);
  }

  .more-info__right-card_bottom .right-card__description-wrapper {
    padding-left: 130px;
    background-image: url(../img/svg-shesterenka_for768.svg);
  }

  .more-info__right-card_top,
  .more-info__right-card_bottom {
    padding: 35px 40px;
  }

  .section-how-we-do__slider-list {
    justify-content: space-between;
    gap: 0;
  }

  .section-how-we-do__description-wrapper {
    padding-right: 0;
    padding-top: 322px;
    background-image: url(../img/how-we-do_1img_768.jpg);
    background-position: top center;
  }

  .section-how-we-do__description {
    max-width: 100%;
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footer__block-middle {
    width: auto;
  }

  .block-middle__title {
    width: 408px;
    font-size: 6.25vw;
  }

  .footer__input:nth-child(1),
  .footer__input:nth-child(2),
  .footer__input:nth-child(3) {
    width: 70.4427vw;
  }

  .footer__form {
    width: 100%;
    margin-bottom: 50px;
  }

  .footer__form-btn {
    width: max-content;
  }

  .footer__checkbox-wrapper {
    padding-top: 16px;
  }

  footer nav {
    display: none;
  }

  .footer__logo {
    width: min-content;
    margin-bottom: 12px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 480px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .section-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 72px 22px;
    margin-bottom: 60px;
    max-height: 308px;
  }

  .section-hero__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-hero__title {
    margin-bottom: 15px;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
  }

  .section-hero__description {
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }

  .section-hero__btn {
    font-size: 14px;
    line-height: 15px;
    padding: 18px 30px;
  }

  .more-info__left-card {
    padding-top: 250px;
  }

  .left-card__description {
    font-size: 16px;
    line-height: 32px;
  }

  .more-info__left-card::after {
    top: 235px;
  }

  .footer__block-middle {
    margin: 0;
    padding: 32px 0;
    padding-bottom: 16px;
  }

  .block-middle__title {
    margin-bottom: 20px;
  }

  .footer__input {
    padding: 13px 20px;
    width: 450px;
    font-size: 14px;
  }

  .footer__input:nth-child(1),
  .footer__input:nth-child(2),
  .footer__input:nth-child(3) {
    width: 100%;
  }

  .footer__input:nth-child(3) {
    margin-bottom: 25px;
    max-height: 150px;
  }

  .footer__form-btn {
    width: auto;
    margin-left: 109px;
    margin-bottom: 11px;
    font-size: 16px;
    line-height: 15px;
  }

  .footer__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .footer__form-btn {
    margin-left: 0;
  }

  .footer__checkbox-wrapper {
    width: auto;
  }

  .footer__block-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-top: 16px;
    min-width: 450px;
  }

  .footer__block-middle {
    border-bottom: 1px solid #595959;
  }

  .footer__logo {
    margin-bottom: 16px;
    min-height: max-content;
  }

  .block-left__social-media-list {
    gap: 30px;
    justify-content: center;
  }

  .block-left__social-media-list-item a svg {
    height: 40px;
    width: 40px;
  }

  .footer {
    padding-bottom: 32px;
  }
}

@media (max-width: 360px) {
  .container {
    max-width: 360px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .left-card__btn {
    padding: 18px;
  }

  .right-card-title {
    font-size: 18px;
  }


  .section-how-we-do__buttons-wrapper {
    gap: 10px;
  }

  .section-how-we-do__button:nth-child(1),
  .section-how-we-do__button:nth-child(2) {
    font-size: 12px;
    line-height: 15px;
  }

  .section-how-we-do__button:nth-child(1) {
    padding: 12px 44px;
  }

  .section-how-we-do__button:nth-child(2) {
    padding: 12px 32px;
  }


  .block-left__social-media-list {
    margin-left: -33%;
  }
}


@media (max-width: 320px) {

  .container {
    max-width: 320px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .ui-accordion .ui-accordion-header {
    font-size: 14px;
    line-height: 24px;
  }

  .section-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 22px;
    margin-bottom: 60px;
    max-height: 308px;
  }

  .section-hero__title {
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .section-hero__description {
    margin-bottom: 32px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .section-hero__btn {
    font-size: 12px;
    line-height: 15px;
    padding: 14px 29px;
  }

  .section__title {
    font-size: 24px;
    line-height: 29px;
  }

  .section__title__about-us {
    margin-bottom: 20px;
  }

  .section-about-us__description {
    margin-bottom: 13px;
    font-size: 14px;
    line-height: 28px;
  }

  .more-info__left-card {
    flex-direction: column;
    padding: 0;
    padding-top: 208px;
    background-image: none;
    background-image: url(../img/worker_for_320.jpg);
    background-size: auto;
    background-position: top center;
    gap: 8px;
  }

  .more-info__left-card::after {
    display: none;
  }

  .left-card__description {
    color: var(--color-for-a-btn-section-how-we-do-active);
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .left-card__btn {
    align-self: flex-start;
    padding: 10px 41px;
    font-size: 12px;
    line-height: 15px;
    color: var(--color-for-most-of-hovers);
  }

  .left-card__btn:focus {
    color: var(--white-color);
  }

  .right-card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .right-card-description {
    font-size: 14px;
    line-height: 28px;
  }

  .more-info__right-card_bottom .right-card__description-wrapper,
  .more-info__right-card_top .right-card__description-wrapper {
    padding: 0;
    background-image: none;
  }

  .more-info__right-card_bottom,
  .more-info__right-card_top {
    padding: 0;
    border: none;
  }

  .more-info__right-card_top {
    padding-top: 61px;
    background-image: url(../img/svg-box_for_320.svg);
    background-position: left top;
    background-repeat: no-repeat;
  }

  .more-info__right-card_bottom {
    padding-top: 61px;
    background-image: url(../img/svg-shesterenka_for_320.svg);
    background-position: left top;
    background-repeat: no-repeat;
  }

  .section-about-us,
  .section-how-we-do,
  .section-questions {
    margin-bottom: 60px;
  }

  .section__title__how-we-do {
    margin-bottom: 16px;
  }

  .section-how-we-do__slider-list {
    margin-bottom: 12px;
    gap: 44px;
  }

  .section-how-we-do__slider-list-item:nth-child(1),
  .section-how-we-do__slider-list-item:nth-child(2),
  .section-how-we-do__slider-list-item:nth-child(3),
  .section-how-we-do__slider-list-item:nth-child(4) {
    min-width: max-content;
    font-size: 14px;
    line-height: 17px;
  }

  .section-how-we-do__description-wrapper {
    padding-top: 176px;
    background-image: url(../img/how-we-do_1img_320.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto;
  }

  .section-how-we-do__heading3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }

  .section-how-we-do__description {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 28px;
  }

  .section-how-we-do__buttons-wrapper {
    gap: 10px;
  }

  .section-how-we-do__button:nth-child(1),
  .section-how-we-do__button:nth-child(2) {
    font-size: 12px;
    line-height: 15px;
  }

  .section-how-we-do__button:nth-child(1) {
    padding: 12px 44px;
  }

  .section-how-we-do__button:nth-child(2) {
    padding: 12px 32px;
  }

  .section__title__questions {
    margin-bottom: 16px;
  }

  .section-questions__list-item-name {
    max-width: 243px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .section-questions__button_show-more {
    width: 30px;
    height: 30px;
  }

  .footer__block-middle {
    margin: 0;
    padding: 32px 0;
    padding-bottom: 16px;
  }

  .block-middle__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 29px;
  }

  .footer__input {
    padding: 13px 20px;
    width: 290px;
    font-size: 14px;
  }

  .footer__input:nth-child(3) {
    margin-bottom: 25px;
    max-height: 150px;
  }

  .footer__form-btn {
    width: auto;
    padding: 13px 28px;
    margin-bottom: 11px;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__form {
    margin-bottom: 0;
  }

  .footer__checkbox-wrapper {
    margin-left: 6px;
    padding-left: 19px;
    width: auto;
    padding-top: 0;
  }

  .footer__block-left {
    text-align: center;
    margin: 0;
    padding-top: 16px;
    min-width: 290px;
  }

  .footer__block-middle {
    border-bottom: 1px solid #595959;
  }

  .footer__logo {
    margin-bottom: 16px;
    min-height: max-content;
    width: max-content;
  }

  .block-left__social-media-list {
    gap: 16px;
    justify-content: center;
    margin-left: 0;
  }

  .block-left__social-media-list-item a svg {
    height: 40px;
    width: 40px;
  }

  .footer {
    padding-bottom: 32px;
  }
}
